body {
  margin: 0 auto;
  font-family: "police1", Arial;
}

@font-face {
  font-family: "police1";
  src: url(/Users/alexymerivot/Desktop/OpenClassroom/Dev-web/projet_2/MonCv/police1.otf);
  font-family: "police2";
  ;src: url(/Users/alexymerivot/Desktop/OpenClassroom/Dev-web/projet_2/MonCv/police2.otf);
}

h1{
  font-size: 2em;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

ul{
  color: rgb(190, 152, 204);
}

li > .noir{
  color: black;
}

.purpleicon{
  color: rgb(190, 152, 204)
}


#conteneur{
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

#alexy{
  color: purple;
}

#souligne{
  text-decoration : underline;
  text-decoration-color : purple;
}

.titre{
  border-bottom:2px solid purple;
  font-family: "police2";
}

#titrenom{
  padding-top: 20px;
  padding-bottom: 30px;
  flex: 2.8;
  text-align: center;
  margin-left: 30px;
  margin-right: 25px;
}

#photo{
  min-width: 230.375px;
  flex: 1;
  background-color:rgb(190, 152, 204);
}

#gauchepage{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color:rgb(190, 152, 204);
}

#droitepage{
  display: flex;
  flex-direction: column;
  flex: 2.8;
  margin-left: 30px;
  margin-right: 25px;
}

#photodemoi{
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 100px;
  width : 150px; height : 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
}

#loisirs{
  flex: 0.5;
}

#apropos{
  flex: 2;
}

#listcontact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.listcontact{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.blackbanner{
  text-align: center;
  background-color: black;
  color: rgb(190, 152, 204);
  height: 30px;
  font-family: "police2";
}

#presentation{
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

#imagesloisirs{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#sport{
  width: 50px;
  height: 50px;
}
#voyage{
  width: 50px;
  height: 50px;
}
#jeux{
  width: 50px;
  height: 50px;
}

#touteformation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gaucheformation{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 30px;
}

.droiteformation{
  flex: 1;
}

#touteexperience{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gaucheexperience{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 30px;
}

.droiteexperience{
  flex: 1;
}

#contenucompetence{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titrecompetence{
  display: flex;
  flex-direction: column;
}

.discbullet{
  list-style-type: circle;

}

@media all and (min-width: 600px){

  header{
    display: flex;
    flex-direction: row;
  }

  #lowpage{
    display: flex;
    flex-direction: row;
  }

  .formation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .experience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media all and (max-width: 600px){

  header{
    display: flex;
    flex-direction: column;
  }

  #titrenom{
    background-color: rgb(190, 152, 204);
    margin-left: 0;
    margin-right: 0;

  }

  #lowpage{
    display: flex;
    flex-direction: column;
  }

  #listcontact{
    align-items: center;
  }

  .listcontact{
    text-align: center;
  }

  .formation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
